#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
  height: 75rem;

  color: #fff;
  text-align: left;
  text-transform: uppercase;

  
}

.apre{
  margin-top: 15rem;
}

h1 {
  color: var(--primary-font);
  font-size: 4rem;
  margin-top: 1rem;
}

h4{
  margin-top: 1rem;
}

#edi {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
  color: var(--secondary-bg);
  font-weight: 700;
  z-index: -1;

  align-items: center;
}

#edi > span {
  max-height: 100vh;
  opacity: 0.5;
  max-width: 100%;
  line-height: 80%;
  font-size: 30rem;
  overflow-wrap: break-word;
}
